<!DOCTYPE html>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>

<div class="well title">
  <h1>Curl Builder</h1>
  <p> by <a>@scottneaves</a></p>
</div>
<div class="well">
  <h2>Headers</h2>
  <input class="form-control" placeholder="key" type="text">
  <input class="form-control" placeholder="value" type="text">
  <button>Delete</button>
  <button>Add</button>
  
  <h2>Query Parameters</h2>
  <input class="form-control" placeholder="key"type="text">
  <input class="form-control" placeholder="value" type="text">
  <button>Delete</button>
  <button>Add</button>
  
  <h2>Authentication</h2>
  <input class="form-control" placeholder="username" type="text">
  <input class="form-control" placeholder="password" type="text">
  <button>Delete</button>

  <h2>Data</h2>
  <select>JSON</select>
  <button>Format Text</button>
  <textarea>Data goes here</textarea>

  <h2>Method</h2>
  <select></select>
  <input class="form-control" type="text">
</div>

<div class="well">
  <textarea></textarea>
  <button>New</button>
  <button>Save</button>
</div>